<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.waletmon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaletMon">
        <activity
            android:name=".Activities.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MonthlyAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WeeklyAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DailyAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SelectAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TodaySpendingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SetBudgetActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WeekSpendingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>